.form--panel{
    margin:auto auto 20px auto;
}
.form--input {
    outline:0;
    font-size:14px;
    height:10px;
    padding:20px 15px 20px 15px;
    margin:auto 15px 15px auto;
    border:1px solid #999999;
}

.form--button {
    width:100px;
    height:50px;
    padding:10px;
    margin:15px auto 0 auto;
    outline:0;
    border:0;
    background:#3ec2b5;
    text-transform:uppercase;
    color:#fff;
    letter-spacing:1px;
    font-size:14px;
    font-weight:300;
}