.articles-list--articles {
    margin: 0 auto 10px;
}

.articles-list--articles button {
    display: block;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #2f2f2f;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: gainsboro;
    font-weight: bold;
}