.nav--wrapper {
  margin: 10px 10px 20px;
}

.nav--header {
  color: #2f2f2f;
  text-align: center;
  font-size: 4em;
  text-align: center;
  margin: 0;
  line-height: 2;
  text-shadow: 3px 2px 0px #cccdbf, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.nav--text {
  color: #cccdbf;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}